.DS_Store

.idea/

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.pnp.cjs
.pnp.loader.mjs

node_modules
coverage
dist
.junit
out
*.d.ts
*.tgz
umd
.env
.vite-node
.vercel
/compat
/array.js
/compat.js
/error.js
/function.js
/math.js
/object.js
/predicate.js
/promise.js
/string.js
/util.js

/test