:root {
  --vp-nav-logo-height: 16px;
  --vp-font-family-base: 'Toss Product Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

:root[lang='ko'] {
  word-break: keep-all;
}
