name: Broken link checker

on:
  schedule:
    - cron: '0 5 * * 1-5'
  workflow_dispatch:
    inputs: { url: { description: 'URL to check', required: false, default: 'https://es-toolkit.dev' } }

jobs:
  broken-link-checker:
    if: github.repository == 'toss/es-toolkit'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - run: corepack enable
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
      - run: yarn install
      - name: Check broken link
        env:
          url: ${{ github.event.inputs.url || 'https://es-toolkit.dev' }}
        run: yarn blc $url --ro
