name: CI

on:
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - run: git fetch origin ${{ github.event.pull_request.base.sha }} --depth=1
      - run: corepack enable
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          cache: 'yarn'
      - run: yarn install
      - name: ESLint
        run: |
          changed_files=$(git diff --name-only --diff-filter=ACMRUXB ${{ github.event.pull_request.base.sha }})

          if echo "$changed_files" | grep -q "^eslint.config.mjs$"; then
            yarn lint
          else
            echo "$changed_files" | grep -E "(.js$|.ts$)" | xargs -r yarn lint
          fi
      - name: Prettier
        run: |
          changed_files=$(git diff --name-only --diff-filter=ACMRUXB ${{ github.event.pull_request.base.sha }})

          if echo "$changed_files" | grep -q -E "^\.prettierrc$|^\.prettierignore$"; then
            yarn prettier -c .
          else
            echo "$changed_files" | xargs -r yarn prettier -c --ignore-unknown
          fi

  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - run: corepack enable
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          cache: 'yarn'
      - run: yarn install
      - name: Typecheck
        run: yarn tsc --noEmit

  pre-pack:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - run: corepack enable
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          cache: 'yarn'
      - run: yarn install
      - name: Build
        run: yarn pack --out package.tgz
      - name: Check Dist
        run: node --test .scripts/check-dist.mjs
      - name: Check Package Types
        run: yarn attw package.tgz

  check-peer:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - run: corepack enable
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          cache: 'yarn'
      - run: yarn install
      - name: Check Peer Dependency
        run: ./.scripts/check-peer.sh || (echo "Peer Dependency 오류가 발생했습니다."; exit 1)

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - run: corepack enable
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          cache: 'yarn'
      - run: yarn install
      - name: vitest
        run: yarn vitest --reporter=junit --outputFile=./junit.xml
      - name: Upload Test Results
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: always()
        with:
          name: test-results
          path: ./junit.xml
