name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened]
  merge_group:

jobs:
  deno:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          deno-version: v2.x
      - run: deno publish --dry-run
